/* IMPORTACIÓN TAI */

@tailwind base;
@tailwind components;
@tailwind utilities;


main {
    background: rgb(183,200,238);
    background: linear-gradient(151deg, rgba(183,200,238,1) 0%, rgba(124,155,226,1) 65%, rgba(62,106,205,1) 100%);
    background-size: cover;
    padding: 2.5rem;
}

